<h1>Listing player_roles</h1>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @player_roles.each do |player_role| %>
      <tr>
        <td><%= link_to 'Show', player_role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player role', new_player_role_path %>
