<h1>Listing player_roles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_roles.each do |player_role| %>
      <tr>
        <td><%= link_to 'Show', player_role %></td>
        <td><%= link_to 'Edit', edit_player_role_path(player_role) %></td>
        <td><%= link_to 'Destroy', player_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player role', new_player_role_path %>
