<h1>Listing users</h1>

  <% if current_user != nil %>
    <% if current_user.player_type == "captain" %>
      <%= render 'captain_table' %>
    <% else %>   
      <%= render 'public_table' %>
    <% end %>
  <% else %>
    Sign in to see user data!
  <% end %>
<br>