<% if current_user != nil && current_user.id == @user.id %>
	<p><strong>You're signed up for the league! Thanks.</strong></p>
<%else%>
	<p>Hmm, you shouldn't be here</p>
<%end%>

<%= link_to 'Go back to the main page', root_path %>