<h1>Listing players</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.team_id %></td>
        <td><%= link_to 'Show', player %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
