<% @performances[0..4].each do |performance| %>
  <%= render partial: "performances/line", locals: { performance: performance } %>
<% end %>
<tr><td><br /></td></tr>
<% @performances[5..9].each do |performance| %>
  <%= render partial: "performances/line", locals: { performance: performance } %>
<% end %>